<div class="experience-container">
  <h1>Experience</h1>

  <a href="https://www.umbctraining.com/courses/intro-malware-analysis/" target="_blank" class="experience-item">
    <h2>Graduate Assistant | UMBC | January 2023 – May 2024</h2>
    <ul>
      <li>Contributed to courses such as Software Process Management and Malware Analysis.</li>
      <li>Utilized a variety of sophisticated tools for dynamic malware analysis, including Wireshark, IDA Pro, and OllyDbg, on both Kali Linux and Ubuntu platforms.</li>
      <div class="tech-tags">
        <span class="tech-tag">Wireshark</span>
        <span class="tech-tag">IDA Pro</span>
        <span class="tech-tag">OllyDbg</span>
        <span class="tech-tag">Kali Linux</span>
        <span class="tech-tag">Ubuntu</span>
      </div>
    </ul>
  </a>

  <a href="https://www.vodafone.com/careers/professional-career-areas/shared-services#Our-services" target="_blank" class="experience-item">
    <h2>QA Automation Engineer | _VOIS | August 2020 – July 2022</h2>
    <ul>
      <li>Designed and implemented robust QA automation frameworks using Selenium and JMeter.</li>
      <li>Integrated test suites with JIRA for enhanced project management and defect tracking.</li>
      <li>Developed expertise in QA automation, mastering tools such as Postman and Splunk, and technologies like Kubernetes, IBM Watson, and Microsoft LUIS.</li>
      <li>Proficiently managed CI/CD pipelines using Jenkins.</li>
      <div class="tech-tags">
        <span class="tech-tag">Selenium</span>
        <span class="tech-tag">JMeter</span>
        <span class="tech-tag">JIRA</span>
        <span class="tech-tag">Postman</span>
        <span class="tech-tag">Splunk</span>
        <span class="tech-tag">Kubernetes</span>
        <span class="tech-tag">IBM Watson</span>
        <span class="tech-tag">Microsoft LUIS</span>
        <span class="tech-tag">Jenkins</span>
      </div>
    </ul>
  </a>

  <a href="https://drdo.gov.in/drdo/" target="_blank" class="experience-item">
    <h2>Research Intern | DRDO | June 2019 – July 2019</h2>
    <ul>
      <li>Worked on the project "Fuzzification of PID Controller" to enhance QRSAM Missiles' feedback mechanism using fuzzy logic in MATLAB.</li>
      <li>Collaborated with a team to design and simulate improved guidance systems to increase the accuracy and reliability of missile trajectories.</li>
      <div class="tech-tags">
        <span class="tech-tag">MATLAB</span>
        <span class="tech-tag">Fuzzy Logic</span>
      </div>
    </ul>
  </a>
</div>
