<div class="project-container">
  <h1>Projects</h1>

  <a href="#" class="project-item">
    <div class="project">
      <h2>Consumer Service Platform Integrator</h2>
      <p>Developed and integrated automation scripts using Selenium and JMeter with the JIRA API to automate updates of test cycles and case statuses, collaborating with platforms such as LivePerson, Nuance, and Genesys to enhance operational efficiencies. Enhanced CI/CD pipelines utilizing Jenkins, leading daily automation tests to ensure continuous updates and effective maintenance of testing environments, significantly improving delivery speed and system reliability.</p>
      <div class="tech-tags">
        <span class="tech-tag">Selenium</span>
        <span class="tech-tag">JMeter</span>
        <span class="tech-tag">JIRA</span>
        <span class="tech-tag">LivePerson</span>
        <span class="tech-tag">Nuance</span>
        <span class="tech-tag">Genesys</span>
        <span class="tech-tag">Jenkins</span>
      </div>
    </div>
  </a>

  <a href="#" class="project-item">
    <div class="project">
      <h2>Vodafone Composer</h2>
      <p>Developed and executed complex UI tests for chatbots using Selenium, alongside extensive API testing with Postman and JMeter at Vodafone Composer, aiming to optimize chatbot functionalities for better user interactions. Acquired and applied in-depth expertise in Microsoft Composer to effectively enhance and implement advanced solutions, significantly improving the operational efficiency within the Vodafone Composer environment.</p>
      <div class="tech-tags">
        <span class="tech-tag">Selenium</span>
        <span class="tech-tag">Postman</span>
        <span class="tech-tag">JMeter</span>
        <span class="tech-tag">Microsoft Composer</span>
      </div>
    </div>
  </a>

  <a href="#" class="project-item">
    <div class="project">
      <h2>CHATBOT Engine</h2>
      <p>Performed comprehensive end-to-end and API testing for a chatbot engine project, using tools such as Postman for API validation to ensure smooth and effective interactions across the system. Executed detailed regression testing to maintain and enhance functionality with each software release. Conducted in-depth performance testing with JMeter to benchmark and refine chatbot response times, utilizing Log4J for precise logging and monitoring of system performance under diverse operational conditions.</p>
      <div class="tech-tags">
        <span class="tech-tag">Postman</span>
        <span class="tech-tag">JMeter</span>
        <span class="tech-tag">Log4J</span>
      </div>
    </div>
  </a>

  <a href="https://github.com/akhilramadugu/Project-RookieCab.com" target="_blank" class="project-item">
    <div class="project">
      <h2>Rookie Cab</h2>
      <p>Developed and launched Rookie Cab, a student-centric ride-sharing platform using Angular for user-friendly front-end design and Spring Boot Web for robust back-end APIs. Managed comprehensive database operations with MySQL, ensuring efficient and secure data handling. Deployed and maintained the platform on Digital Ocean, optimizing connectivity and performance for cost-effective student travel solutions, enhancing user experience and platform stability.</p>
      <div class="tech-tags">
        <span class="tech-tag">Angular</span>
        <span class="tech-tag">Spring Boot</span>
        <span class="tech-tag">MySQL</span>
        <span class="tech-tag">Digital Ocean</span>
      </div>
    </div>
  </a>

  <a href="http://www.annalsofrscb.ro/index.php/journal/article/view/6421/4863" target="_blank" class="project-item">
    <div class="project">
      <h2>Prediction of Parkinson’s Using Machine Learning</h2>
      <p>Developed a predictive model for Parkinson's Disease using voice clips, utilizing advanced Machine Learning algorithms such as Random Forests and CNNs. This model aims to accurately diagnose Parkinson's Disease by analyzing the subtle variations in voice modulations, leveraging sophisticated data analysis techniques to enhance diagnostic accuracy and speed.</p>
      <div class="tech-tags">
        <span class="tech-tag">Machine Learning</span>
        <span class="tech-tag">Random Forests</span>
        <span class="tech-tag">CNNs</span>
      </div>
    </div>
  </a>

  <a href="https://github.com/akhilramadugu/Report-Fuzzification-of-PID-Controller/blob/main/Fuzzification%20of%20PID%20Controller.pdf" target="_blank" class="project-item">
    <div class="project">
      <h2>Fuzzy PID Controller Design for Servo Systems</h2>
      <p>Developed a sophisticated fuzzy PID control algorithm for servo systems, focusing on enhancing stability and accuracy during missile flight, based on a simplified model of the servo system described as a differential equation. Conducted extensive simulations to test and validate the controller's performance, leading to improvements in rise time and overshoot, showcasing the system's enhanced dynamic characteristics and robustness.</p>
      <div class="tech-tags">
        <span class="tech-tag">Fuzzy Logic</span>
        <span class="tech-tag">PID</span>
        <span class="tech-tag">MATLAB</span>
      </div>
    </div>
  </a>
  <a href="https://github.com/akhilramadugu/Project-Document-Analysis-and-Clustering-System" target="_blank" class="project-item">
    <div class="project">
      <h2>Document Analysis and Clustering System</h2>
      <p>Implemented a system to parse HTML documents, tokenize text, compute term weights, create term-document matrices, and cluster documents based on similarity. The system uses various techniques such as TF-IDF for term weighting and agglomerative clustering for document grouping.</p>
      <div class="tech-tags">
        <span class="tech-tag">Python</span>
        <span class="tech-tag">BeautifulSoup</span>
        <span class="tech-tag">TF-IDF</span>
        <span class="tech-tag">Clustering</span>
        <span class="tech-tag">NLP</span>
      </div>
    </div>
  </a>
</div>
